* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  max-width: 1140px;
  margin: 0 auto;
  }

  .navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;}

  .navbar-menu {
  list-style: none;
  display: flex;
  gap: 24px;
}

.navbar-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

navbar-logo img {
  height: 135px;
  height: 82px;
}

.navbar-menu li:nth-child(1) a,
.navbar-menu li:nth-child(4) a {
  font-weight: bold;
}


.banner {

  margin: 100px 100px;
}


.banner-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.banner-left {
  display: flex;
  flex-direction: column;
  max-width: 570px;


}

.banner-left h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.banner-left .orange {
  color: #E95A08;
  font-weight: 800;
}

.banner-left p {
  color:rgba(0, 0, 0, 0.50);
  font-size: 22px;
}

.banner-right img {
  width: 100%;
  flex: 1;
}