* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  max-width: 1140px;
  margin: 0 auto;
  }

  .navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;}

  .navbar-menu {
  list-style: none;
  display: flex;
  gap: 24px;
}

.navbar-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

navbar-logo img {
  height: 135px;
  height: 82px;
}

.navbar-menu li:nth-child(1) a,
.navbar-menu li:nth-child(4) a {
  font-weight: bold;
}


.banner {

  margin: 100px 100px;
}


.banner-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.banner-left {
  display: flex;
  flex-direction: column;
  max-width: 570px;


}

.banner-left h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.banner-left .orange {
  color: #E95A08;
  font-weight: 800;
}

.banner-left p {
  color:rgba(0, 0, 0, 0.50);
  font-size: 22px;
}

.banner-right img {
  width: 100%;
  flex: 1;
}

.plant-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.our-plant {
  text-align: center;
}

.our-plant h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

.our {
  color: #E95A08;
  font-weight: 800;
}

.our-plant p {
  color: rgba(0, 0, 0, 0.50);
  margin-bottom: 40px;
  font-size: 22px;
  align-items: center;
  
}

.plant-card {
  
  padding: 5px;
}

plant-card img {
  width: 100%;
  height: 323px;
  object-fit: cover;
  margin-bottom: 12px;
}

.plant-card button {
  padding: 8px 16px;
  background: #E95A08;
  color: #fff;
  border: none;
  cursor: pointer;
  width:100%;
  
}

.plant-card button:hover {
  background: #cd4e04;
}

.flower-lover {

  margin: 200px auto;
  
}


.flower-lover-content {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.flower-image {
  position: relative;
}

.flower-image img {
  width: 100%;
  
}

.flower-image .badge {
  position: absolute;
  top: -150px;
  right:-100px;
  width: 286px;
  height: 286px;
}

.flower-text {
  flex: 1;
}

.flower-text h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.flower-text ul {
  list-style: disc;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.50);
}

.flower-text li {
  margin-bottom: 16px;
  font-size: 22px;
}

.latest-deals {
  text-align: center;
}

.latest-deals h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

.latest-deals h2 .orange {
  color: #e4571c;
  font-weight: 700;
}

.latest-deals p {
  color: #666;
  font-size: 22px;
  font-weight: 400;
  max-width: 888px;
  margin: 20px auto;
}


.promo {
  padding: 60px 20px;
  margin: 100px auto;
}

.promo-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}



.promo-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.promo-right {
  width:70%;
  position: relative;
  border-radius: 12px;

}

.promo-box {
  position: relative;
  border-radius: 12px;
  
  
}

.promo-text {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: #fff;
}

.promo-text.center {
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}

.promo-text a {
  color: rgb(255, 255, 255);
  padding: 6px 14px;
  font-size: 15px;
}

.promo-text h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 8px;
}

.image-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}


.image-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.121), rgba(99, 97, 97, 0.696));
}
